body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    height: fit-content;
    width:fit-content;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4cae4c;
  }
  
  a {
    color: #5cb85c;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .search-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  #search-results, #movie-lists {
    margin-top: 20px;
  }
  
  .movie, .list {
    margin-bottom: 20px;
  }
  
  .movie img, .list img {
    width: 100px;
    height: auto;
  }
  